<div id="directions">
  <h3 id="howTo">How to get the embedded link</h3>
  <ol>
    <li type="1">Login/Sign Up to your <%= service %> account</li>
    <li type="2">Browse to the song you would like to add.</li>
    <li type="3">Once you have the song, click the three dots on right side of the song.</li>
    <li type="4">You will see a drop down appear hover over the share button.</li>
    <li type="5">Select the option with Embed Code</li>
    <li type="5">Paste the embedded link into the link section!</li>
  </ol>
</div>