<div id="directions">
  <h3>How to get the embedded link</h3>
  <ol>
    <li type="1">Login/Sign Up to your <%= service %> account</li>
    <li type="2">Browse to the song/playlist you would like to add</li>
    <li type="3">Once picked, click the three dots on right side of the song.</li>
    <li type="4">You will see a drop down appear click the share button</li>
    <li type="5">Once clicked, select the option with embed code</li>
    <li type="5">Paste that into the link section!</li>
  </ol>
</div>