<%- include('./partials/header') %>
<div id="headerService">

<% if (user && user.name) { %>
  <%  let firstName = user.name.split(' ')[0] %>
  <h1>Welcome to Jammy Tunes <%= firstName %></h1>
<% } else { %>
  <h1>Welcome to Jammy Tunes!</h1>
<% } %>
<h2>Click a service to create a playlist!</h2>
</div>

<div id="pickService">
  <a href="/playlists/apple"><img id="app-mus" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Apple_Music_icon.svg/2048px-Apple_Music_icon.svg.png" alt="apple music logo"></a> 
  
  <a href="/playlists/spotify"><img id="spot-mus" src="https://www.freeiconspng.com/uploads/spotify-icon-2.png" alt="spotify logo"></a>
</div>

<%- include('./partials/footer') %>