* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-image: url(https://i.pinimg.com/originals/6d/c5/4f/6dc54f9d763981859e6b6c81228361ff.jpg);
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  background-color: rgba(0, 0, 0, .9);
  color: white;
}

nav > a {
  color: #ffffff;
  text-decoration: none;
}

#google {
  height: 20px;
}

#homelogo {
  height: 40px;
}

#avatar {
  border-radius: 50px;
  height: 50px;
}

#displayLists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#createPlaylists {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  color: black;
  background-color: rgb(254, 188, 213);
  opacity: 0.8;
}

label {
  margin: 10px;
}

h1 {
  display: flex;
  justify-content: center;
}

#directions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#createBtn {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: blue;
}

#addAComments {
  display: grid;
  grid-template-rows: auto auto ;
  gap: 1rem;
}

#playlistStyle {
  display: grid;
  grid-template-columns: 200px 1fr;
}

#createList {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 175, 214, 0.5);
}

#showPlaylist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin-bottom: 10px;
}