* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  background-image: url(https://img.freepik.com/premium-vector/nested-pink-hearts-abstract-background-with-vibrant-colors-love-concept-abstract-background_655111-136.jpg);
}